body {
  background: var(--ibp-teal-dark, #063d4f);
  font-family: "Adelle Sans", sans-serif;
}

.container {
  max-width: 1235px;
  margin: 0 auto;
}

#app {
  background: white;
  font-size: 18px;
}
